.App {
  text-align: center;
  background-color: #2d3546;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

#title {
  color: aliceblue;
}

.display {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  border-bottom: 3px solid black;
  margin-bottom: 1em;
}

.display-option:hover {
  cursor: pointer;
  color: rgb(110, 118, 192);
}

.submission {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 20em;
  text-align: center;
  margin: 0.5em;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  background-color: #2d3546;
  outline: none;
}

::placeholder {
  color: rgb(192, 192, 192);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  border: 2px solid black;
  border-radius: 6px;
  margin: 0.55em;
  height: 2em;
  width: 30%;
  background-color: aliceblue;
}
.submit:hover {
  background-color: #5c616d;
}

.lookup {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.lookup-form {
  display: flex;
  flex-direction: row;
}

.select {
  margin: 0.5em;
  border: 2px solid black;
  border-radius: 6px;
  background-color: aliceblue;
}

#search-input {
  width: 20em;
}

.results-header {
  border-bottom: 3px solid black;
}

.results {
  width: 90vw;
  margin-bottom: 2em;
}

.header {
  border: 2px solid yellow;
}

.result {
  border: 2px solid red;
}
