.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.submission {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  text-align: center;
  margin: 0.5em;
  border-radius: 5px;
}

.submit {
  border-radius: 5px;
}
.submit:hover {
  background-color: #5c616d;
}

.results {
  width: 90vw;
  border: 2px solid green;
}

.header {
  border: 2px solid yellow;
}

.result {
  border: 2px solid red;
}
